<div id="boxes">
   <div class="row g-0 feature_row" style="display: flex; align-items: stretch; width: 100%; justify-content: center; column-gap: 150px; row-gap: 25px;">
      <div class="col-md-4" style="display: flex;justify-content: center; max-width: fit-content;">
        <img src="../../static/images/create.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-3" style="color: black; ">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">I. Organize by Job Openings</h5>
          <p class="card-text">Enter the title of your open position, your subsequent applying candidates will be added to the position.</p>
        </div>
      </div>
      <div class="col-md-4" style="display: flex; justify-content: center; max-width: fit-content; ">
        <img src="../../static/images/job_opening2.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
    <div class="row g-0 feature_row" style="display: flex; align-items: stretch; width: 100%; justify-content: center; column-gap: 150px; row-gap: 25px;">
        <div class="col-md-4" style="display: flex; justify-content: center; max-width: fit-content;">
            <img src="../../static/images/add2.png" class="img-fluid rounded-start" alt="...">
          </div>
      <div class="col-md-3" style="color: black; ">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">II. Continually include Candidates</h5>
          <p class="card-text">Add candidates that have applied to the position by uploading their resumes in PDF format. Each resume will be stored and processed for required information. </p>
        </div>
      </div>
      <div id="file_upload" class="col-md-4" style="display: flex; justify-content: center; max-width: fit-content; ">
        <img src="../../static/images/upload3.png" class="img-fluid rounded-start" alt="...">
      </div>
    </div>

    <div class="row g-0 feature_row" style="display: flex; align-items: stretch; width: 100%; justify-content: center; column-gap: 150px; row-gap: 25px;">
      <div class="col-md-4" style="display: flex;justify-content: center; max-width: fit-content;">
        <img src="../../static/images/filter2.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-3" style="color: black; ">
        <div class="card-body">
          <h5 class="card-title" style="color: black;">III. Find your ideal Candidate </h5>
          <p class="card-text">Identify the candidates that you need by using keywords, you can also filter by their level of education, and look through any of your job openings.
            Download the resume of any candidate or remove them from your collection.
          </p>
        </div>
      </div>
        <div class="col-md-4" style="display: flex; justify-content: center; max-width: fit-content;">
            <img src="../../static/images/engineers4.png" class="img-fluid rounded-start" alt="...">
          </div>
    </div>
    </div>
</div>
