{% load static %}
<div id="story" class="card-client">
    <p id="story_name" class="name-client"> Candidate Collection
        <span>Project Story</span>
    </p>
    <div id="text" class="social-media">
        <p></p>
        <p> 
            "Before I knew anything about coding, I was already looking ahead to
            find a job as a software engineer. This led me to become very interested in the recruitment process
            done by businesses and it made me think of the many ways we can use software to facilitate every step
            of recruitment." 
        </p>
    </div>
</div>